U6/resources/cifar-10-python.tar.gz
U6/resources/cifar-10-batches-py
Hands-on I/U6/resources/cifar-10-python.tar.gz
Hands-on I/U6/resources/cifar-10-batches-py
first_test
vars.py
ML Super/A5/dataset/*
ML Super/A4/dataset/*
Learning User-Generated Data/dataset/*
ML and PC/MLPC24_speech_commands_raw_waveforms/*
ML Super/A8/data/*
п/results/*
ML Not Super/A3/iris.data
*.pyc
*.txt
*.pt
*.csv
*.png
*.jpg
*.jpeg
*.tar.gz
*.log
*.out
*.err
*.npy
*.pth
*.pkl
*.h5
*.zip
*.wav
*.mp3
*.mp4
*.pdf
*.docx
*.doc
*.gif
*.data
*.keras
*-checkpoint.ipynb
Learning User-Generated Data/dataset_ex3/*
Learning User-Generated Data/lfm-tiny-tunes/*
*.json
RCE/*
п/*